<div>
  <input type="text" class="n-input-text-small n-margin-right-1">
  <button class="n-btn-outline-azul n-margin-right-1">Button</button>
  <select class="n-select-small n-margin-right-1">
    <option value="1">1</option>
    <option value="2">2</option>
  </select>
  <div class="n-cuadro n-margin-top-1 n-margin-bottom-1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, sint in? Consequuntur consectetur adipisci
    animi quam aspernatur non perspiciatis quisquam mollitia debitis at maxime, aperiam sequi sint! Sint, repudiandae
    inventore!
  </div>
  <label class="n-cuadro">
    <input type="radio" name="visible" value="SI">
    <span class="">SI</span>
  </label>
  <label class="n-cuadro">
    <input type="radio" name="visible" value="NO">
    <span class="">NO</span>
  </label>
</div>
<div class="n-margin-top-2">
  <select class="n-select-eliminar-small n-margin-right-1">
    <option value="">¿Eliminar?</option>
    <option value="eliminar">Si, eliminar</option>
  </select>
  <select class="n-select-eliminar-mediano n-margin-right-1">
    <option value="">¿Eliminar?</option>
    <option value="eliminar">Si, eliminar</option>
  </select>
  <select class="n-select-eliminar-grande n-margin-right-1">
    <option value="">¿Eliminar?</option>
    <option value="eliminar">Si, eliminar</option>
  </select>
</div>
<div class="n-margin-top-2">
  <div>Botones base</div>
  <button class="n-btn-azul n-margin-right-1">Button</button>
  <button class="n-btn-amarillo n-margin-right-1">Button</button>
  <button class="n-btn-rojo n-margin-right-1">Button</button>
  <button class="n-btn-verde n-margin-right-1">Button</button>
  <button class="n-btn-gris n-margin-right-1">Button</button>
  <button class="n-btn-morado n-margin-right-1">Button</button>
  <button class="n-btn-naranja n-margin-right-1">Button</button>
  <button class="n-btn-rosa n-margin-right-1">Button</button>
  <button class="n-btn-marron n-margin-right-1">Button</button>
  <button class="n-btn-blanco n-margin-right-1">Button</button>
</div>
<div>Botones outline</div>
<button class="n-btn-outline-azul n-margin-right-1">Button</button>
<button class="n-btn-outline-amarillo n-margin-right-1">Button</button>
<button class="n-btn-outline-rojo n-margin-right-1">Button</button>
<button class="n-btn-outline-verde n-margin-right-1">Button</button>
<button class="n-btn-outline-gris n-margin-right-1">Button</button>
<button class="n-btn-outline-morado n-margin-right-1">Button</button>
<button class="n-btn-outline-naranja n-margin-right-1">Button</button>
<button class="n-btn-outline-rosa n-margin-right-1">Button</button>
<button class="n-btn-outline-marron n-margin-right-1">Button</button>
<div class="n-margin-top-2">
  <div>Botones small combinados</div>
  <button class="n-btn-small n-bg-azul n-margin-right-1">Button</button>
  <button class="n-btn-small n-bg-amarillo n-margin-right-1">Button</button>
  <button class="n-btn-small n-bg-rojo n-margin-right-1">Button</button>
  <button class="n-btn-small n-bg-verde n-margin-right-1">Button</button>
  <button class="n-btn-small n-bg-gris n-margin-right-1">Button</button>
  <button class="n-btn-small n-bg-morado n-margin-right-1">Button</button>
  <button class="n-btn-small n-bg-naranja n-margin-right-1">Button</button>
  <button class="n-btn-small n-bg-rosa n-margin-right-1">Button</button>
  <button class="n-btn-small n-bg-marron n-margin-right-1">Button</button>
  <button class="n-btn-small n-bg-blanco n-margin-right-1">Button</button>
</div>
<hr>
<div class="n-margin-top-2">
  <input type="text" class="n-input-text-mediano n-margin-right-1">
  <button class="n-btn-mediano n-bg-verde n-margin-right-1">Button</button>
  <select class="n-select-mediano n-margin-right-1">
    <option value="1">1</option>
    <option value="2">2</option>
  </select>
  <div class="n-cuadro n-margin-top-1 n-margin-bottom-1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, sint in? Consequuntur consectetur adipisci
    animi quam aspernatur non perspiciatis quisquam mollitia debitis at maxime, aperiam sequi sint! Sint, repudiandae
    inventore!
  </div>
  <label class="n-cuadro">
    <input type="radio" name="visible" value="SI">
    <span class="">SI</span>
  </label>
  <label class="n-cuadro">
    <input type="radio" name="visible" value="NO">
    <span class="">NO</span>
  </label>
</div>
<div class="n-margin-top-2">
  <div>Botones medianos combinados</div>
  <button class="n-btn-mediano n-bg-azul n-margin-right-1">Button</button>
  <button class="n-btn-mediano n-bg-amarillo n-margin-right-1">Button</button>
  <button class="n-btn-mediano n-bg-rojo n-margin-right-1">Button</button>
  <button class="n-btn-mediano n-bg-verde n-margin-right-1">Button</button>
  <button class="n-btn-mediano n-bg-gris n-margin-right-1">Button</button>
  <button class="n-btn-mediano n-bg-morado n-margin-right-1">Button</button>
  <button class="n-btn-mediano n-bg-naranja n-margin-right-1">Button</button>
  <button class="n-btn-mediano n-bg-rosa n-margin-right-1">Button</button>
  <button class="n-btn-mediano n-bg-marron n-margin-right-1">Button</button>
  <button class="n-btn-mediano n-bg-blanco n-margin-right-1">Button</button>
</div>
<hr>
<div class="n-margin-top-2">
  <input type="text" class="n-input-text-grande n-margin-right-1">
  <button class="n-btn-grande n-bg-morado n-margin-right-1">Button</button>
  <select class="n-select-grande n-margin-right-1">
    <option value="1">1</option>
    <option value="2">2</option>
  </select>
  <div class="n-cuadro n-margin-top-1 n-margin-bottom-1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, sint in? Consequuntur consectetur adipisci
    animi quam aspernatur non perspiciatis quisquam mollitia debitis at maxime, aperiam sequi sint! Sint, repudiandae
    inventore!
  </div>
  <label class="n-cuadro">
    <input type="radio" name="visible" value="SI">
    <span class="">SI</span>
  </label>
  <label class="n-cuadro">
    <input type="radio" name="visible" value="NO">
    <span class="">NO</span>
  </label>
</div>
<div class="n-margin-top-2">
  <div>Botones grandes combinados</div>
  <button class="n-btn-grande n-bg-azul n-margin-right-1">Button</button>
  <button class="n-btn-grande n-bg-amarillo n-margin-right-1">Button</button>
  <button class="n-btn-grande n-bg-rojo n-margin-right-1">Button</button>
  <button class="n-btn-grande n-bg-verde n-margin-right-1">Button</button>
  <button class="n-btn-grande n-bg-gris n-margin-right-1">Button</button>
  <button class="n-btn-grande n-bg-morado n-margin-right-1">Button</button>
  <button class="n-btn-grande n-bg-naranja n-margin-right-1">Button</button>
  <button class="n-btn-grande n-bg-rosa n-margin-right-1">Button</button>
  <button class="n-btn-grande n-bg-marron n-margin-right-1">Button</button>
  <button class="n-btn-grande n-bg-blanco n-margin-right-1">Button</button>
</div>
<hr>
<div class="n-margin-top-2">
  <table class="n-tabla">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Ney</td>
        <td>López</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Javier</td>
        <td>Bolaños</td>
      </tr>
    </tbody>
  </table>
